bin
obj
packages
.vs/
site
publish 
*.pubxml 
*.user
!StagingServer.pubxml
!LocalMachine.pubxml
CodeCoverageReport
node_modules
!DeleteNodePackages.bat
!InstallNpmModules.bat
tools
!tools/packages.config
TestResult.xml
cireports 
StyleCop.Cache
*StyleCopAnalysis.xml
*JSLintAnalysis.html
*TSLintAnalysis.xml
system.cachebuster.json
*SASSLintAnalysis.html
temporaryfiles
!Auto-Generate-Entity-Classes.bat
!Auto-Generate-Seed-Data.bat
package-lock.json
.vscode
build/time.txt
build/integrationtime.txt
